.header
  .top-items
    .top-items__left
      .top-items__left__name
        =link_to "#", class:"user-page" do
          =current_user.name
      .top-items__left__btn
        =link_to new_group_path, class: "content-btn" do
          = icon('far', 'edit')
        =link_to edit_user_path(current_user), class: "content-btn" do
          = icon('fas','cog')
    .top-items__hydden
      =link_to "#", class:"hydden-btn" do
        ="777"
.body
  .group
    .group__title
      Members
    .group__members

  .content
    .group-tabs
      -current_user.groups.each do |group|
        .group-tabs__tab
          %input{name: "group_id", type: "hidden", value: group.id, class: 'group_id' }/
          =link_to group_messages_path(group), class:"group-name"do
            =group.name

    .top-page

    .footer
    
  -# .content
  -#   .group-tabs
  -#     -current_user.groups.each do |group|
  -#       .group-tabs__tab
  -#         %input{name: "group_id", type: "hidden", value: group.id, class: 'group_id' }/
  -#         =group.name