.header
  .top-items
    .top-items__left
      .top-items__left__name
        =link_to "#", class:"user-edit" do
          porunga
      .top-items__left__btn
        =link_to "#", class: "content-btn" do
          = icon('far', 'edit')
        =link_to "#", class: "content-btn" do
          = icon('fas','cog')

    .top-items__right
      =link_to "#", class: "edit-btn"do
        Edit

.body
  .group
    .group__members
      Members
    .group__member
      =link_to "#", class:"personal-page" do
        udon
    .group__member
      =link_to "#", class:"personal-page" do
        soba
    .group__member
      =link_to "#", class:"personal-page" do
        ra-men
  .content
    .tabs
      .tabs__tab2
        グループ１
      .tabs__tab
        グループ２
      .tabs__tab2
        グループ３
    .message
      .message__mine
        .message__mine__index
          .message__mine__index__name
            porunga
          .message__mine__index__date
            2020年03月12日 18時03分
        .message__mine__text
          おはようございます
      .message__member
        .message__member__index
          .message__member__index__name
            udon
          .message__member__index__date
            2020年03月12日 18時03分
        .message__member__text
          おはようございます
      .message__mine
        .message__mine__index
          .message__mine__index__name
            porunga
          .message__mine__index__date
            2020年03月12日 18時03分
        .message__mine__text
          おはようございます

.form
  .input-box
    %input{ class: "input-box__text", placeholder:"25文字以内で入力" }
    %label{class: 'input-box__image'}
      = icon('fas', 'image', class: 'icon')
      %input{type: "file", class: 'input-box__image-file'}
  = link_to "#", class: 'send-btn' do
    Send