.header
  .top-items
    .top-items__left
      .top-items__left__name
        porunga
      .top-items__left__btn
        =link_to "#", class: "content-btn" do
          = icon('far', 'edit')
        =link_to "#", class: "content-btn" do
          = icon('fas','cog')

    .top-items__right
      =link_to "#", class: "edit-btn"do
        Edit

.tabs
  .tabs__tab
    tab1
  .tabs__tab2
    tab2
  .tabs__tab2
    tab3
  .tabs__tab2
    tab4
.body
  .contents


.form