* {
  box-sizing: border-box;
}

$main: #2f3e51;
$sub: #253141;

.wrapper {
  height: 100vh;
}

.header {
  height: 140px;
  background-color: $main;
  border-bottom: 1px #eeeeee solid;
  .top-items {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    &__left {
      height: 30px;
      width: 200px;
      display: flex;
      justify-content: space-between;
      &__name {
        .user-page {
          color: white;
          font-weight: bold;
          text-decoration: none;
        }
      }
      &__btn {
        margin-right: 5px;
        .content-btn {
          text-decoration: none;
          color: white;
          margin-left: 5px;
        }
      }
    }
    &__right {
      height: 50px;
      width: 100px;
      border: solid white thin;
      line-height: 50px;
      text-align: center;
      .edit-btn {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

.body {
  height: calc(100% - 120px);
  display: flex;
  .group {
    width: 20%;
    background-color: $sub;
    border-right: solid 1px #eeeeee;
    &__title {
      height: 50px;
      width: 100%;
      color: white;
      font-size: 20px;
      padding: 10px 0 0 15px;
      font-weight: bold;
    }
    &__members {
      overflow: scroll;
      height: 100%;
      border-top: solid 1px #eeeeee;
      &__member {
        height: 10%;
        width: 100%;
        padding: 20px 0 0 15px;
        .personal-page {
          text-decoration: none;
          color: white;
          font-size: 20px;
        }
      }
    }
  }
  .content {
    width: 80%;
    height: 100%;
    .group-tabs {
      height: 50px;
      background-color: $sub;
      overflow-x: auto;
      white-space: nowrap;
      &__select {
        height: 100%;
        width: 25%;
        background-color: white;
        border-bottom: 0;
        border-right: 0;
        font-size: 20px;
        font-weight: bold;
        line-height: 50px;
        padding-left: 15px;
        display: inline-block;
        }
      &__tab {
        background-color: $sub;
        width: 25%;
        border-right: solid 1px #eeeeee;
        line-height: 50px;
        padding-left: 15px;
        display: inline-block;
        .group-talk {
          text-decoration: none;
          color: white;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }

    .messages {
      height: calc(100% - 170px);
      overflow: scroll;
      &__message {
        &__mine {
          padding-left: 65%;
          margin-top: 10px;
          &__index {
            display: flex;
            &__name {
              margin-right: 20px;
              font-size: 20px;
              font-weight: bold;
            }
            &__date {
              font-size: 13px;
              line-height: 35px;
            }
          }
        }
      }
      &__member {
        padding-left: 10%;
        margin-top: 10px;
        &__index {
          display: flex;
          &__name {
            margin-right: 20px;
            font-size: 20px;
            font-weight: bold;
          }
          &__date {
            font-size: 13px;
            line-height: 35px;
          }
        }
      }
    }
  }
}

.form {
  height: 120px;
  background-color: $main;
  border-top: solid 1px #eeeeee;
  padding-top: 10px;
  .new_message {
    align-items: center;
    padding-left: 40px;
    display: flex;
    position: relative;
    .form__message {
      width: 100%;
      height: 60px;
      padding-left: 10px;
    }
    .form__mask {
      &__image {
        position: absolute;
        bottom: 25px;
        right: 180px;
        cursor: pointer;
        .icon {
          font-size: 2em;
        }
        .hidden {
          display: none;
        }
      }
    }
    .form__submit {
      color: white;
      background-color: rgb(127, 127, 139);
      margin: 18px 40px 15px 15px;
      width: 100px;
      cursor: pointer;
      padding: 20px 30px;
      height: 60px;
    } 
  }
}